*{
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    padding: 20px;
    background-color: rgb(247, 244, 244);
   
   
}
.nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.heading{
    padding-top: 5px;
    font-size: 24px;
}
body{
    background-image:url(stadium\.jpeg) ;
    background-size: cover;
}
.main{
    display: flex;
    text-shadow: 2px 2px rgb(22, 21, 21);
   
}
.postion{
width: 110px;
height: 100px;
background-color: black;
border: 5px grey solid;
 text-align: center;
}
.first{
    color: gray;
    padding-top: 10px;
}
.first1{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
.number{
    width: 110px;
    height: 100px;
    background-color: black;
    border: 5px grey solid;
     text-align: center;
    }
    .second{
        color: gray;
        padding-top: 10px;
    }
    .second1{
        color: white;
        font-size: 40px;
        font-weight: bolder;
    }
    .Games{
        width: 110px;
        height: 100px;
        background-color: black;
        border: 5px grey solid;
         text-align: center;
        }
        .third{
            color: gray;
            padding-top: 10px;
        }
        .third1{
            color: white;
            font-size: 40px;
            font-weight: bolder;
        }
        .Goals{
            width: 110px;
            height: 100px;
            background-color: black;
            border: 5px grey solid;
             text-align: center;
            }
            .fourth{
                color: gray;
                padding-top: 10px;
            }
            .fourth1{
                color: white;
                font-size: 40px;
                font-weight: bolder;
            }
            .grid-main{
                display: grid;
                grid-template-columns: repeat(4, 1fr); 
                grid-gap: 15px;
            }
            .stats{
                margin-left: 150px;
                margin-top: 230px;
            }
            .stats p{
                color: white;
                font-size: 40px;
                font-weight: bolder;
                padding-left: 50px;
                padding-bottom: 20px;
                font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
            }
           .imgg img{
            height: 572px;
            width: 600px;
            margin-left: 50px;
           }
        body{
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
                
            